.new-op-button{
    border-radius: 4px;
    background-color: #f4511e;
    border: white solid 1px;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.1em;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.new-op-button:hover{
    box-shadow: 2px 4px 5px 1px rgba(255, 255, 255, 0.2);
}

.new-op-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.new-op-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.new-op-button:hover span {
    padding-right: 25px;
}

.new-op-button:hover span:after {
    opacity: 1;
    right: 0;
}






.operation-buttons{
    width: 10%;
}

.operation-edit-bt{
    background-image: radial-gradient( circle 935px at 3.1% 5.8%,  rgba(85, 233, 0, 0.918) 0%, rgba(94, 255, 0) 100.2% );
    color: black;
    border-radius: 4px;
    /* border: 2px solid #4CAF50; */
    width: 80%;
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 0.8em;
    transition-duration: 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.operation-edit-bt:hover {
    background-image: radial-gradient( circle 935px at 3.1% 5.8%,  rgb(70, 200, 0) 0%, rgb(50, 136, 0) 100.2% );
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.operation-delete-bt{
    background-image: linear-gradient( 111.2deg,  rgb(233, 19, 19) 1.7%, rgb(235, 22, 19) 98.7% );
    color: white;
    border-radius: 4px;
    /* border: 2px solid red; */
    width: 80%;
    margin-top: 2px;
    margin-bottom: 1px;
    font-size: 0.8em;
    transition-duration: 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.operation-delete-bt:hover {
    background-image: linear-gradient( 111.2deg,  rgba(255,5,5,1) 22.7%, rgb(250, 2, 2) 98.7% );
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.footer-buttons{
    margin: auto;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 300px; */
}

.footer-buttons button{
    padding: 5px 20px;
    background-color: #f4511e;
    color: white;
    margin: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
}


.footer-buttons button:hover{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
    border: solid white 2px;
}